body {
    background-color: white;
}
.cart-position-container {
    width: 1400px;
    margin: auto;
    margin-top: 20px;
    border:1px solid lightgrey;
    border-bottom:1px solid lightgrey;
    padding: 1px 0px;
}
.cart-position-container p {
    font-family: 'Merriweather', serif;
    font-size: 1.4rem;
}
.cart-position-container > .content-container {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: auto;
}
.position-item {
    display: flex;
    gap: 10px;
    align-items:center;
    width: 100%;
}
.position-item a {
    width: 100%;
}
.position-item .previous-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.position-item .previous-link p {
    color: black;
}
.position-item .previous-link p:hover {
    text-decoration: underline;
}
.position-item .previous-link i:hover {
    background-color: var(--bg-primary-gradient);
}
.position-number {
    background-color: var(--bg-primary-faded);
    color: white;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
}
.position-active > .position-number {
    background-color: var(--bg-primary-gradient);
}
.position-active > .position-text {
    font-weight: 700;
}

/****************************************************************
*   CART.PHP CSS
*****************************************************************/
.cart-heading {
    margin: auto;
    margin-top: 50px;
    width: 90%;
    text-align: center;
}
.cart-heading h2 {
    font-weight: 400;
}
#cart-container {
    margin: auto;
    width: 1400px;
    margin-top: 20px;
}

#cart-item-root {
    width: 100%;

}
.cart-item-headings {
    padding: 10px 0px;
    border-bottom: 1px solid lightgrey;
}
.cart-item-headings > .content-container {
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
}
.cart-item-headings p {
    font-weight: 600;
    font-family: 'Merriweather', serif;
    font-size: 1.4rem;

}
.cart-item {
    background-color: white;
    padding: 20px 0px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.cart-item-image-name {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.cart-item img {
    width: 100px;
}
.cart-item-image-name h3 {
    font-weight: 400;
    font-size: 1.6rem;
}
.cart-item-right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    min-width: 130px;
}
.cart-item-functions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.cart-item-functions input[type=number] {
    font-size:1.4rem;
}

.cart-item-buttons {
    display: flex;
    margin-top: 5px;
    gap: 15px;
}

.cart-item a {
    text-decoration: none;
    color: darkblue;
}
.cart-item a:hover {
    text-decoration: underline;
    color: var(--bg-secondary);
}
.cart-item-price-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    align-items: flex-end;
}

.discounted-price-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.old-price {
    position: relative;
    color:grey;
    opacity: 0.8;
    font-size: 1.4rem;
}

.old-price:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 2px solid;
    border-color: inherit;
    
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(-5deg);
}

.item-price, .new-price {
    font-size: 1.4rem;
}
.new-price {
    font-weight: 700;
}
.new-price {
    color: darkgreen;
}
.unit-price {
    font-size: 1.4rem;
}
.unit-price, .subtotal {
    font-weight: 700;
}

.remove-from-cart-btn {
    border: none;
    background-color: white;
    color:var(--bg-secondary-light);
    font-size: 1.4rem;
    text-decoration: underline;
    padding: 5px;
    cursor: pointer;
    user-select: none;
    align-self: flex-end;
}
.remove-from-cart-btn:hover {
    opacity: 0.6;
}

#cart-summary-root {
    width: 100%;
    background-color: white;
    height: fit-content;
    line-height: 1.6;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 40px;
    margin-bottom: 100px;
}
.cart-summary-content {
    width: 100%;
    max-width: 300px;
}
.flex-row-list {
    display: flex;
    justify-content: space-between;
}
.flex-row-list > ul > li {
    font-size: 1.4rem;
}
.list-one {
    display:flex;
    flex-direction: column;
    gap: 10px;
    
}
.list-two {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    font-weight: bold;
}
/********
* EMPTY CART CSS
**********/
.no-items {
    background-color: rgb(255, 214, 214);
    padding: 20px;
    border-radius: 6px;
    margin: auto;
    max-width: 700px;
    margin-top: 40px;
}

.no-items h3 {
    margin-bottom: 15px;
    color: var(--bg-secondary);
}
.no-items p {
    margin-bottom: 15px;
    color: var(--bg-secondary);
}
.no-items a {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    opacity: 0.8;
    font-weight: 700;
    text-decoration: none;
}
.no-items a:hover {
    text-decoration: underline;
}
.featured-products {
    border-bottom: 1px solid lightgrey;
}
.featured-products-header h2 {
    font-size: 2.2rem;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
    font-weight: 400;
}
.add-to-cart-btn {
    position:relative;
    z-index:999;
    padding:10px 0px;
    cursor:pointer;
    margin-bottom:15px;
    width:100%;
    border:none;
    background-color:var(--bg-secondary);color:white;font-size:1.4rem;
}
.view-cart-btn {
    background-color: var(--btn-save-green);
}
.add-to-cart-btn:hover {
    background-color: var(--btn-hover-colour);
}
/**********************************************************************************************************
* CART SIGN-UP PAGE
**********************************************************************************************************/
.cart-details-banner {
    width: 1400px;
    padding: 10px 0px;
    border-bottom: 1px solid lightgrey;
    margin: auto;
}
.cart-details-banner > .content-container {
    width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.continue-shopping {
    opacity: 1;
    color: var(--bg-secondary-light);
}
.continue-shopping:hover {
    opacity: 0.6;
}

.cart-contents-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.cart-contents-container > p:first-child {
    opacity: 0.8;
}
.cart-return-btn {
    display: block;
    background-color: #00af6c!important;
    color: white;
    border-radius: 6px;
    padding: 14px 14px;
    text-decoration: none;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
}
.cart-return-btn:hover {
    background-color: var(--btn-hover-colour)!important;
}

.checkout-sign-up-container {
    width: 1400px;
    margin: auto;
    background-color: white;
    margin-top: 40px;
}

.checkout-sign-up-container > .content-container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    gap: 20px;
}
.checkout-sign-up-container > .content-container form {
    width: 75%;
}
.checkout-sign-up-container > .content-container .left {
    border-right: 1px solid lightgrey;
    width: 50%;
    padding-right: 20px;
}
.checkout-sign-up-container > .content-container .right {
    width: 50%;
}
.checkout-sign-up-header {
    padding: 10px;
    background-color: rgb(247, 247, 247);
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 20px;
}
.checkout-sign-up-header > p {
    font-weight: 500;
    font-family: 'Merriweather', serif;
}

/************************************************
*   CHECKOUT PAGE CSS
************************************************/
#delivery-next-step, #delivery-submit {
    background-color: var(--btn-proceed-green-light);
    font-weight: 500;
}
#delivery-next-step:hover, #delivery-submit:hover {
    background-color: var(--btn-hover-colour);
}
.fade-in-translate {
    transform: translateY(100%);
    opacity: 0;
    transition: all 500ms ease-in-out;
}
.arrow-back-text-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.6rem;
    cursor: pointer;
    opacity: 0.7;
    user-select: none;
    padding: 5px;

}
.arrow-back-text-container i {
    opacity: 0.5;
}
.arrow-back-text-container p:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1400px) {
    .cart-position-container {
        width: 95%;
    }
    .cart-position-container > .content-container {
        width: 95%;
        margin: 0;
    }

    #cart-container {
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }

    .cart-details-banner {
        width: 95%;
    }
    .cart-details-banner > .content-container {
        width: 100%;
    }
    .checkout-sign-up-container {
        width: 100%;
    }
}
@media screen and (max-width: 830px) {
    #cart-container {
        flex-direction: column;
    }

    #cart-item-root {
        width: 100%;
    }
    #cart-summary-root {
        width: 100%;
        margin: auto;
        padding: 20px 0px 20px 0px;
    }

    .checkout-sign-up-container > .content-container {
        flex-direction: column;
    }
    .checkout-sign-up-container > .content-container .left {
        width: 100%;
        border-right: none;
    }
    .checkout-sign-up-container > .content-container .right {
        width: 100%;
    }
    .checkout-sign-up-container > .content-container form {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .cart-position-container {
        /*border: none;*/
        background-color: white;
    }
    .cart-position-container > .content-container {
        gap: 2px;
    }
    .cart-position-container > .content-container .position-item:last-child {
        margin-right: -34px;
    }
    .position-item .position-text {
        display: none;
    }
    .position-active .position-text {
        display: block;
    }
    .position-item {
        width: 10%;
    }
    .position-active {
        width: 100%;
    }

    .cart-heading h2 {
        margin-top:-20px;
    }

    .cart-details-banner > .content-container {
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }
    .cart-contents-container {
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
    .cart-return-btn {
        width: 80%;
        padding: 14px 0px;
        margin: auto;
    }

    .cart-item-headings {
        display: none;
    }
    .cart-item {
        flex-direction: column;
    }
    .cart-item-right {
        margin-top: -40px;
    }
    .cart-item-price-container {
        align-items: flex-end;
    }
    .cart-item-functions input[type=number] {
        width: 30%;
    }
}

@media screen and (max-width: 576px) {
    
    .checkout-sign-up-header {
        padding: 20px;
    }
    .cart-position-container > .content-container .position-item:last-child {
        margin-right: -14px;
    }
  
    .position-active {
        width: 100%;
    }
}