main {
    background-color: #f7f7f7;
}
.product-creation-input-container {
    width: 80%;
}
.form-item {
    width: 100%;
    background-color: white;
    border-color: lightgrey;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 1.4rem;
}
img {
    display: inline!important;
}
.form-item:focus {
    border-color: black;
}
.input-btn-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    position: relative;
}
.input-btn-container button {
    padding: 0px 20px;
    font-size: 1.4rem;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    background-color: var(--btn-save-green);
    cursor: pointer;
}
.input-btn-container button:hover {
    background-color: var(--btn-hover-colour);
}
textarea {
    resize:none;
    min-height: 200px;
}
input, textarea {
    border-color: #ccc!important;
}
input:focus, textarea:focus {
    box-shadow:1px 1px 15px rgb(134, 202, 224)!important;
    border-color:rgb(134, 202, 224)!important;
}
input[type=number] {
    appearance: auto;
    width: 30%;
    padding:15px 25px 15px 5px;
}
.product-category-options-container {
    border: 1px solid lightgrey;
    padding: 25px;
    border-radius: 4px;
    background-color: white;
    margin-top: 20px;
}
.section-header {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}
.product-overview-creation-container {
    margin-top: 60px;
    border: 1px solid lightgrey;
    padding: 25px;
    border-radius: 4px;
    background-color: white;

}
select, option {
    padding-left: 10px !important;
}
select {
    position: relative;
    z-index: 5;
}

.select-text {
    font-size: 1.4rem;
}
.selectize-input {
    padding: 12px!important;
}

#product-attribute-selection {
    margin-top: -5px;
    padding: 0px 15px;
    border: 1px solid lightgrey;
}
#product-attribute-selection .input-container-100 {
    margin-bottom: 40px;
}

.product-overview-item {
    border: 1px solid lightgrey;
    padding: 20px;
    margin-bottom: 20px;
}
.product-overview-item  .input-container-100 {
    margin-bottom: 30px;
}

[name=remove-overview-section] {
    width: 100%;
    padding: 12px;
    background-color: var(--btn-delete-red);
    color: white;
    font-size: 1.6rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

[name=remove-overview-section]:hover, #create-overview {
    background-color: var(--btn-hover-colour);
}

#create-overview {
    width: 200px;
    padding: 12px;
    background-color: var(--btn-action-blue);
    color: white;
    font-size: 1.6rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

@media screen and (max-width: 1400px) {
    
}

@media screen and (max-width: 836px) {
    .product-creation-input-container {
        width: 95%;
    }
}
@media screen and (max-width: 768px) {
    .product-creation-input-container {
        width: 100%;
    }
}