body {
    background-color: white;
}
#product-root {
    width: 1400px;
    margin: auto;
    margin-top: 40px;
}

.product-top-container {
    display: flex;
    height: auto;
    margin-bottom: 40px;
}

.product-top-container img {
    width: 80%;
    object-fit: contain;
    display: block;
    margin: auto;
}

.product-top-left {
    width: 40%;
}
.product-top-right {
    display:flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;

}

.product-page-name-container {
    display: flex;    
    height: fit-content;
    align-items: baseline;
    gap: 10px;
}

.product-page-name-container h2 {
    font-weight: 400;
    font-size:var(--font-size-heading);
    line-height: 1.2;
}
.product-page-name-container span {
    font-family: 'Merriweather', serif;
    opacity: 0.8;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;

}
.product-top-right .product-desc-short {
    font-size:calc(var(--font-size-regtext) + 0.2rem);
    color: black;
    opacity: 0.6;
}
.product-top-right .product-price {
    font-weight: 500;
    color:darkgreen;
}
.discount-price-container {
    display:flex;
    gap: 20px;
    align-items: center;
    margin-top:10px;
}
.product-price-discounted {
    position: relative;
    color:var(--bg-secondary);
    opacity: 0.8;
    font-weight: 400;
}
.percentage-indicator {
    font-size:1.4rem;
    color:white;
    background-color:rgba(239, 68, 68, 1);
    padding:12px 12px 12px 12px;
    border-radius:4px;
    font-weight: 400;
}
.product-price-discounted:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 2px solid;
    border-color: inherit;
    
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(-5deg);
}
.product-top-right .product-description {
    border-top: 1px solid lightgrey;
    padding-top: 20px;
    line-height: 1.8;
    opacity: 0.9;
}

input[type=number] {
    display:inline;
    width: 75px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 17px 15px 17px 5px;
}

input[type=number]::-webkit-inner-spin-button {
    height:95%;
    padding: 0px 10px;
    position: absolute;
    right: 1px;
    top: 1px;
}
.add-to-cart-btn {
    position: relative;
    width: 35%;
    z-index: 15;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    background-color: var(--bg-secondary);
    font-size: 1.6rem;
    color: white;
    cursor: pointer;
}
.add-to-cart-btn:hover {
    background-color: var(--bg-secondary-light);
}
.out-of-stock-btn {
    position: relative;
    width: 35%;
    z-index: 15;
    padding: 14px 20px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    background-color: none;
    font-size: 1.6rem;
    color: grey;
    background: lightgrey;
}
.product-bottom-container {
    margin-bottom: 80px;
    display: flex;
}

.product-bottom-left {
    width: 40%;
}
.product-bottom-right {
    width: 60%;
}

.product-bottom-tab-btns {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}

.tab-btn {
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 10px 0px 10px 0px;
    width: 200px;
    text-align: center;
    font-weight: 400;
    user-select: none;
}
.tab-btn:hover {
    background-color: #f1f2f1;
    cursor: pointer;
}

.tab {
    display:none;
}
.attribute-item {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid lightgrey;
    margin-top: -1px;
    text-align: left;
}
.attribute-item p {
    width: 50%;
    font-weight: 400;
}
.overview-item {
    margin-top: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid lightgrey;
}
.overviews .overview-item:last-child {
    border-color: transparent;
}
.overview-item img {
    display: block;
    margin: auto;
    max-height: 300px;
    max-width: 100%;
    margin: 30px auto;
}

.overview-item h3 {
    font-weight: 400;
    font-size: 2.6rem;
    text-align: center;
    margin: 10px 0px;
    padding: 20px;
}
.overview-item p {
    opacity: 0.9;
    line-height: 1.8;
    text-align: center;
}

#related-products-root {
    width: 1400px;
    margin: auto;
    position: relative;
}
.related-products-header {
    margin-top: 20px;
    margin-bottom: 60px;
    padding-top: 10px;
    border-top: 1px solid lightgray;
}

@media screen and (max-width: 1600px) {
    #product-root {
        width: 90%;
        margin: auto;
        margin-top: 40px;
    }
}
@media screen and (max-width: 1400px) {
    #related-products-root {
        width: 90%;
    }
}
@media screen and (max-width: 1200px) {
    .add-to-cart-btn, .out-of-stock-btn {
        width: 50%;
    }
    
}

@media screen and (max-width: 830px) {
    .product-page-name-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .product-top-container {
        height: auto;
    }
    .add-to-cart-btn, .out-of-stock-btn {
        width: 100%;
    }
    .tab-btn {
        width: 50%;
    }
    .product-bottom-container {
        margin-top: 40px;
    }
    .product-top-container, .product-bottom-container, .product-page-name-container {
        flex-direction: column;
    }
    .product-top-left, .product-top-right, .product-bottom-left, .product-bottom-right {
        width: 100%;
    }
    .product-top-left img {
        width: 75%;
        position: relative;
    }
    #related-products-root {
        width: 98%;
    }
}