
#product-management-table {
    font-family: arial, sans-serif;
    margin:auto;
    width: 1400px;
    margin-top: 60px;
    border-radius: 4px;
    border-collapse: collapse;
}
  
#product-management-table input[type=text] {
    width: 95%;
    margin: auto;
    font-size: var(--font-size-regtext);
}
#product-management-table th {
    padding: 15px;
    background-color: #3b8cc3;
    color: white;
    font-weight: 400;
}

#product-management-table td {
    padding: 10px;
    height: 75px;
}
#product-management-table tr {
    background-color: white;
}
#product-management-table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    font-size: 1.6rem;
    vertical-align: middle;
}
.td-flex-center {
    display: flex;
    align-items: center;
    gap: 10px; 
    flex-direction: row;
}


#product-management-table tr:nth-child(even) {
    background-color: rgb(230, 230, 230);
}
#product-management-table tr:nth-child(even) img {
    border:1px solid lightgrey;
}

#product-management-table tr button {
    padding: 6px;
    border: none;
    color: white;
    background-color: #3b8cc3;
    font-size: 1.2rem;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}
#product-management-table tr button:hover {
    background-color: #95b0c2;

}
#product-management-table tr .delete-action-btn {
    background-color:#db4c3c;
}

#product-management-table tr .add-action-btn {
    background-color:#3d9970;
    font-size: 1.4rem;
    padding: 10px 40px;
}
#product-management-table tr input[type=number], tr input[type=datetime-local] {
    padding:4px;
    font-size:1.6rem;
}
.edit-product-btn {
    display: block;
    background-color: #3b8cc3;
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}
.edit-product-btn i {
    margin-top: -2px;
}
.edit-product-btn:hover {
    background-color:#95b0c2;
}
/*****
* CSS for a slider switch on a checkbox
* Taken from w3schools https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch
******/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #3b8cc3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #3b8cc3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

@media screen and (max-width: 1400px) {
    #product-management-table {
        width: 90%;
    }

    .td-flex-center {
        flex-direction: column;
        align-items: flex-start;
    }
    .container-label, #product-management-table td input[type=number], #product-management-table td input[type=datetime-local], #product-management-table td button{
        width: 95%;
        margin: auto;
        font-size:1.6rem;
    }
}
