.product-creation-input-container {
    width: 80%;
}
.form-item {
    width: 100%;
    background-color: white;
    border-color: lightgrey;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 1.4rem;
}
img {
    display: inline!important;
}
.form-item:focus {
    border-color: black;
}
.input-btn-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    position: relative;
}
.input-btn-container button {
    padding: 0px 20px;
    font-size: 1.4rem;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    background-color: var(--btn-save-green);
    cursor: pointer;
}
.input-btn-container button:hover {
    background-color: var(--btn-hover-colour);
}
textarea {
    resize:none;
    min-height: 200px;
}
input[type=number] {
    appearance: auto;
    width: 30%;
    padding:15px 25px 15px 5px;
}

.category-options-header {
    margin-top: 60px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}
select, option {
    padding-left: 10px !important;
}
select {
    position: relative;
    z-index: 5;
}
option {
    font-size: var(--font-size-regtext);
}
#product-attribute-selection {
    margin-top:-1px;
    padding: 0px 15px;
    border: 1px solid lightgrey;
}
#product-attribute-selection .input-container-100 {
    margin-bottom: 40px;
}


@media screen and (max-width: 836px) {
    .product-creation-input-container {
        width: 95%;
    }
}
@media screen and (max-width: 768px) {
    .product-creation-input-container {
        width: 100%;
    }
}