#category-details {
    width: 65%;
    line-height: 1.4;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
#category-details h2 {
    margin-bottom: 20px;
}
#category-details p {
    font-weight: 500;
    opacity: 0.7;
}
#products-container {
    max-width: 1200px;
    margin-top: 40px;
    display:flex;
    gap: 10px;
    margin-bottom: 40px;
}

#product-root {
    width: 100%;
    display:grid;
    grid-template-columns: repeat(auto-fill, 32%);
    grid-gap: 0px;
}

.product span {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 12;
  
    /* fixes overlap error in IE7/8, 
       make sure you have an empty gif */
    background-image: url('empty.gif');
  } 

.product {
    background-color: white;
    text-align:center;
    padding: 20px;
    border: 1px solid lightgrey;
    position: relative;
    height: fit-content;
    margin-top: -1px;
    margin-left:-1px;
}

.product img {
    height: 200px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.product-name {
    height: 30px;
}

.product-type {
    text-transform: uppercase;
    opacity: 0.85;
    margin-top: 20px;
    margin-bottom: 15px;
    color: rgb(122, 122, 122);
    font-family: 'Merriweather', serif;

}

.product-desc-short {
    margin-bottom: 15px;
}
.product-price-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: 700;
}

.product-price-discounted {
    position: relative;
    color:rgb(206, 0, 0);
}

.product-price-discounted:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 2px solid;
    border-color: inherit;
    
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(-5deg);
}


.product-price {
    font-size: 1.8rem;
    font-weight: 700;
    color: darkgreen;
}

.product button[type=submit] {
    position: relative;
    width: 100%;
    margin: auto;
    z-index: 15;
}

.no-products-found {
    width: 100%;
    text-align: center;
    margin-left: 30px;
}
.no-products-found h2 {
    margin-bottom: 20px;
}

#filter-root {
    background-color: white;
    width: 400px;
    height: fit-content;
}

.filter-header {
    padding: 20px;
    text-align: center;
    background-color: var(--bg-secondary);
    color: white;
    font-weight: 400;
}
.filter-header h3 {
    font-weight: 400;
}
.filter-items {
    border: 1px solid lightgrey;
    padding: 20px;
}

.filter-item {
    margin-bottom: 20px;
}
.filter-item-header {
    padding: 15px 0px 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
    border-bottom: 1px solid rgb(228, 228, 228);
    text-transform: capitalize;
}
.filter-item-header i {
    font-size: 1.6rem;
}
.filter-item-options {
    border-bottom: 1px solid rgb(228, 228, 228);
    padding: 10px 0px;
}
.filter-item-option {
    padding: 10px 0px 10px 0px;
}

.filter-item-option label {
    margin-left: 5px;
    user-select: none;
    cursor: pointer;
}
.filter-item-option input[type=checkbox] {
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    #product-root {
        grid-template-columns: repeat(auto-fill, 48%);
    }
}

@media screen and (max-width: 768px) {
    #category-details {
        width: 100%;
    }
    #product-root {
        grid-template-columns: repeat(auto-fill, 100%);
    }
}

@media screen and (max-width: 576px) {
    #products-container {
        display: block;
    }
    #filter-root {
        width: 100%;
        margin-bottom: 30px;
    }
}