html, * { font-size: 10px; }
h1 { font-size: var(--font-size-huge); }
h2 { font-size: var(--font-size-heading); }
h3 { font-size: var(--font-size-subheading); }
h4 { font-size: var(--font-size-subheading-small); }
p, li, a, span, time, label { font-size:var(--font-size-regtext) }

:root {
 --bg-secondary:hsl(0, 100%, 20%);
 --bg-secondary-light:hsl(0,100%,30%);
 --bg-primary:hsl(0, 0%, 16%);
 --bg-primary-gradient:hsl(0, 0%, 22%);
 --font-default: 'roboto', 'sans-serif';
 --font-monospace: 'Courier New', Courier, monospace;
 --font-size-huge: 5rem;
 --font-size-heading: 3.5rem;
 --font-size-subheading: 2.2rem;
 --font-size-subheading-small: 1.8rem;
 --font-size-regtext: 1.6rem;
 --icon-size-small:1.9rem;
}
i {
  cursor: pointer;
}
html, * {
  font-family: var(--font-default);
}


main {
  position: relative;
  width: 1200px;
  margin: auto;
  padding: 0px;
  overflow: hidden;
}

.no_select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}

.page-overlay {
  display:none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 50;
}

.menu-overlay {
  display:none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 50;
}

.ignore-overlay {
  position: relative;
  z-index: 90;
}

.prevent-scrolling-all {
  height:100%;
  overflow: hidden;
}

.prevent-scrolling-menu {
  height:100%;
  overflow: hidden;
}

/**********************************************************************************
* PAGE HEADER CSS
**********************************************************************************/
header {
  width: 100%;
  height: 150px;
  background-color: var(--bg-primary);
  display: flex;
  align-items: center;
}

.header-content {
  width: 1200px;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  max-width: 300px;
}
.header-menu {
  height: 40px;
  display: flex;
  flex-direction: row-reverse;
}

.header-menu ul {
  display: flex;
  gap: 15px;
  align-items: center;

}
.header-menu li {
  display: flex;
  gap: 5px;
}
.header-nav-link {
  color: white;
  display:flex;
  gap: 5px;
  text-decoration: none;
  font-size: 1.8rem;
  align-items: center;
}

.header-menu li a:hover {
  text-decoration: underline;
}
.header-nav-icon {
  font-size: 3rem;
  position: relative;
  color: white;
}

.header-nav-icon:hover {
  text-decoration: none;
}
.cart-count {
  position: absolute;
  font-weight: 400;
  background-color: red;
  border-radius: 128px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 2.0rem;
  right: -5px;
  top: -10px;
  font-size: 1.2rem;
}

/**********************************************************************************
* PRODUCT MENU CSS
**********************************************************************************/
.product-menu-button {
  color: white;
  font-size: 3rem;
}
.product-menu-container {
  display: none;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid lightgrey;
}

.product-menu-container-mobile {
  transition: transform ease-in-out 350ms;
  transform: translateX(-100%);
  margin-top: 0.5px;
  background-color: white;
  position: absolute;
  width: 90%;
  height: 100vh;
  z-index: 99;
  border-right: 1px solid lightgrey;
  text-align: left;
}

.product-menu-list-mobile {
  display: block;
  width: 100%;
}

.product-menu-list {
  display: flex;
  width: 1200px;
  margin: auto;
  justify-content: space-between;
}
.product-menu-list li {
  text-align: center;
}
.product-menu-list-mobile li {
  text-align: left;
  text-indent: 20px;
  margin-top:-1px;
  border-top:1px solid lightgrey;
  border-bottom:1px solid lightgrey;
}


.product-menu-list a, .product-menu-list-mobile a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color:black;
  font-weight: 600;
  font-size: 1.4rem;
}
.product-menu-list a:hover, .product-menu-list-mobile a:hover {
  background-color: rgb(226, 226, 226);
  text-decoration: underline;
}

/*******************************************************************************************************
*  FORM AND MODAL CSS
********************************************************************************************************/
.form-main {
  box-sizing: border-box;
  border-radius: 5px;
  background-color: white;
  padding: 25px;
  max-width: 450px;
  margin: auto;
  border: 1px solid lightgrey;
  position: relative;     
  margin-top: 40px;
  margin-bottom: 40px;
}
form label {
  font-weight:700;
  font-size:1.4rem;
}

.form-header {
  width:100%;
  margin: 10px 0px 20px 0px;
}

.form-header h3 {
  font-weight: 500;
  letter-spacing: 0.05em;
}

.form-header p {
  margin-top: 10px;
  opacity: 0.7;
}
.input-container-100 {
  position: relative;
}

.input-container-50 {
  display: flex;
  justify-content: space-between;
}
.input-icon {
  position:absolute;
  bottom:14px;
  left:10px;
  font-size: 22px;
  pointer-events: none;
  color: #8e8e8e;
}

.form-item {
  width: 100%;
  padding: 15px 40px;
  margin: 10px 0;
  display:block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.4rem;
  background-color: #f1f1f1fb;
}

.form-item-50 {
  width:48%;
  display:inline;
  padding: 15px 40px;
  margin: 10px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.4rem;
  background-color: #f1f1f1fb;
}

::placeholder {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: black;
  font-family: var(--font-monospace);
}
::-webkit-datetime-edit-text { color: #8e8e8e; }
::-webkit-datetime-edit-month-field { color: #8e8e8e; text-transform: uppercase; font-size: 1.2rem; }
::-webkit-datetime-edit-day-field { color: #8e8e8e; text-transform: uppercase; font-size: 1.2rem; }
::-webkit-datetime-edit-year-field { color: #8e8e8e; text-transform: uppercase; font-size: 1.2rem; }

#emailfb, #dobfb, #usernamefb, #userpassfb {
  width:100%;
  margin: 10px 0;
  display:block;
  box-sizing: border-box;
  color:#b41919;
}
.password-indicator {
  border-radius: 12px;
}

.form-link {
  margin: 15px 0px 15px 0px;
}
.form-link a {
  text-decoration: none;
  color: var(--bg-secondary)
}
.form-link a:hover {
  color:var(--bg-secondary-light);
  text-decoration: underline;
}
button[type=submit] {
  background-color: var(--bg-secondary);
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

button[type=submit]:hover {
  background-color: var(--bg-secondary-light);
}

@media screen and (max-width: 768px) {
  form {
      max-width: 100%;
      margin-left: 2.5%;
      margin-right: 2.5%;
  }
}


.modal-container {
  display:none;
  position: absolute;
  max-width: 400px;
  background-color: white;
  font-weight: 300;
  box-shadow: 5px 5px 12px grey;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.modal-container i {
  font-size: 18px;
}
.modal-container p {
  font-size: 1.2rem !important;
  letter-spacing: 0.1em;
  line-height: 1.6em;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  padding: 15px;
}

.modal-content {
  padding: 15px;
}


/*****************************************************************
*   ALERTS CSS
*****************************************************************/
/* General alert stylings */
.alert {
  display: flex;
  position: fixed;
  top: 20px;
  right: 0;
  text-align: center;
  max-width: 1200px;
  background-color: lightgreen;
  transform: translateX(100%);
  transition: 400ms transform ease-in-out;
  border-left: 4px solid darkgreen;
  gap: 10px;
  border-radius: 4px;
  z-index: 999;
}
.alert-message-container {
  display:flex; 
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 15px;
}
.close-alert-container {
  cursor: pointer;
  height: 100%;
  padding: 20px;
  overflow: hidden;
}
.close-alert-container i {
  font-size: 1.6rem;
}

/* Success states */
.success {
  background-color: lightgreen;
  border-left: 8px solid darkgreen;
}
.success .message-icon {
  font-size: 24px;
  color: darkgreen;
}
.success .alert-message-container p {
  color: darkgreen;
}
.success .close-alert-container {
  background-color: rgb(104, 231, 104);
}
.success .close-alert-container i {
  color: darkgreen;
}

.success a {
  color: darkgreen;
}

/* Error states */
.error {
  background-color: rgb(255, 110, 110);
  border-left: 4px solid darkred;
}
.error .message-icon {
  font-size: 24px;
  color: darkred;
}
.error .alert-message-container p {
  color: darkred;
}
.error .close-alert-container {
  background-color: rgb(252, 134, 134);
}
.error .close-alert-container i {
  color: darkred;
}

/********************************
* generic container for messages
*********************************/
.verify-container {
  background-color: white;
  max-width: 400px;
  margin: auto;
  margin-top: 60px;
  padding: 20px;
  text-align: left;
  color: black;
  font-family: sans-serif;
  border-radius: 12px;
  border:1px solid lightgrey;

}
.verify-container h3, .verify-container p {
  padding: 0px 20px 20px 20px;
}
.verify-container img {
  display:block;
  width: 100px;
  height: 100px;
  margin: auto;
}






/*****************************************************
*   CART NOTIFICATIONS
*****************************************************/
.cart-notification {
  width: 600px;
  background-color: white;
  padding: 20px;
  position: fixed;
  top: 40px;
  right: 40px;
  box-shadow: 5px 5px 15px grey;
  border-left: 8px solid #600;
  z-index: 100;
  transform: translateX(150%);
  transition: transform 500ms ease-in-out;
}

.cart-notification-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

.cart-notification-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.cart-notification-item img {
  width: 40px;
}
/*********************************************************************
*   MEDIA QUERIES
*********************************************************************/
@media screen and (max-width: 1200px) {
  main {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .header-content {
    width:100%;
    margin: 0px 10px 0px 10px;
  }

  .product-menu-list {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  header {
    height: 70px;
  }
  .modal-container {
    width: 100%;
  }
  .header-logo {
    width: 200px;
    margin-top: 10px;
  }
  .cart-notification {
    width: 90%;
    right: 20px;
  }
}
@media screen and (max-width: 576px) {
  .alert {
    width: 95%;
    text-align: left;
    border: none;
  }
  .close-alert-container {
    padding: 35px;
  }
  .modal-container {
    max-width: 100%;
  }
  .modal-container p {
    font-size: 1.6rem!important;
  }
  .form-main {
    max-width: 100%;
  }
  .cart-notification {
    width: 85%;
    right: 10px;
  }
}
