html, * { font-size: 10px; }
h1 { font-size: var(--font-size-huge); }
h2 { font-size: var(--font-size-heading); }
h3 { font-size: var(--font-size-subheading); }
h4 { font-size: var(--font-size-subheading-small); }
p, li, a, span, time, label { font-size:var(--font-size-regtext) }

:root {
 --bg-secondary:hsl(0, 100%, 20%);
 --bg-secondary-light:hsl(0,100%,30%);
 --bg-primary:hsl(0deg 0% 18%);
 --bg-primary-gradient:hsl(0, 0%, 22%);
 --bg-primary-faded: hsl(0, 0%, 52%);
 --font-default: 'roboto', 'sans-serif';
 --font-monospace: 'Courier New', Courier, monospace;
 --font-size-huge: 5rem;
 --font-size-heading: 3.5rem;
 --font-size-subheading: 2.2rem;
 --font-size-subheading-small: 1.8rem;
 --font-size-regtext: 1.6rem;
 --icon-size-small:1.9rem;
 --btn-save-green: #3d9970;
 --btn-action-blue: #3b8cc3;
 --btn-hover-colour: #95b0c2;
 --btn-delete-red: #db4c3c;
}
i {
  cursor: pointer;
}
.bg-white {
  background-color: white;
}
html, * {
  font-family: var(--font-default);
}


main {
  position: relative;
  width: 100%;
  margin: auto;
  padding: 0px;
  overflow: hidden;
  min-height: 100vh;
}

.no_select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}
.page-overlay {
  display:none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 50;
}
.menu-overlay {
  display:none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 50;
}

.wrapper-link {
  position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 12;
  
    /* fixes overlap error in IE7/8, 
       make sure you have an empty gif */
    background-image: url('empty.gif');
    cursor: pointer;
}

.ignore-overlay {
  position: relative;
  z-index: 90;
}

.prevent-scrolling-all {
  height:100%;
  overflow: hidden;
}

.prevent-scrolling-menu {
  height:100%;
  overflow: hidden;
}

/**********************************************************************************
* PAGE HEADER CSS
**********************************************************************************/
header {
  width: 100%;
  background-color: var(--bg-primary);
}

.header-content {
  width: 1400px;
  height: 150px;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  max-width: 200px;
  display: flex;
  align-items: center;
}
.header-menu {
  height: 40px;
  display: flex;
  flex-direction: row-reverse;
}

.header-menu ul {
  display: flex;
  gap: 15px;
  align-items: center;
}
.header-menu li {
  display: flex;
  gap: 5px;
}
.header-nav-link {
  color: white;
  display:flex;
  gap: 5px;
  text-decoration: none;
  font-size: 1.8rem;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size:1.4rem;
}

.header-menu li a:hover {
  text-decoration: underline;
}
.header-nav-icon {
  font-size: 3rem;
  position: relative;
  color: white;
}

.header-nav-icon:hover {
  text-decoration: none;
}
.cart-count {
  position: absolute;
  font-weight: 400;
  background-color: red;
  border-radius: 128px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 2.0rem;
  right: -5px;
  top: -10px;
  font-size: 1.2rem;
}

/***********************************************************************************
* PRODUCT SEARCH CSS
***********************************************************************************/
.search-bar-container {
  width: 600px;
  position: relative;
  display: none;
  margin: 0px 10px 0px 10px;
}
#product-search-bar {
  padding: 12px 0px 12px 0px;
  text-indent: 15px;
  width: 100%;
  font-size: var(--font-size-regtext);
  border: none;
  border-bottom:1px solid lightgrey;
  border-radius: 128px;
}
#product-search-bar:focus {
  outline: none;
}
.search-bar-container i {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 2.4rem;
  display:flex;
  align-items: center;
  height: 100%;
  padding: 0px 10px 0px 10px;
}
#search-results {
  position: absolute;
  width:110%;
  background-color: white;
  margin-top: -1px;
  z-index: 14;
  height: 250px;
  border: 1px solid lightgrey;
  box-shadow: 0px 5px 15px grey;
  overflow-y: scroll;
  display: none;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
/* Chrome scrollbar effects */
#search-results::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background: lightgrey;
}
#search-results::-webkit-scrollbar-thumb {
  background: #393812;
  -webkit-border-radius: 1ex;
  border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

.search-result-item {
  display: flex;
  gap: 30px;
  padding: 10px;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.search-result-item:hover {
  text-decoration: underline;
  background-color:rgb(226, 226, 226);
}
.search-result-item img {
  width: 40px;
  border: 1px solid lightgrey;
}
.sr-text-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sr-text-container h4 {
  font-weight: 500;
  opacity: 0.8;
}
.sr-price-container {
  display: flex;
  gap: 10px;
}
.sr-product-price-discounted {
  font-size: var(--font-size-regtext);
}
.sr-product-price {
  font-size: var(--font-size-regtext);
}
.sr-product-price-discounted {
  position: relative;
  color:grey;
  opacity: 0.8;
  font-weight: 400;
}
.sr-product-price-discounted:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 2px solid;
  border-color: inherit;
  
  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  -o-transform:rotate(-5deg);
  transform:rotate(-5deg);
}
.sr-wrapper-link {
  position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 12;
  
    /* fixes overlap error in IE7/8, 
       make sure you have an empty gif */
    background-image: url('empty.gif');
}


/**********************************************************************************
* PRODUCT MENU CSS
**********************************************************************************/
.product-menu-button {
  color: white;
  font-size: 3rem;
}
.product-menu-container {
  display: none;
  width: 100%;
  background-color: var(--bg-primary);
}

.product-menu-container-mobile {
  transition: transform ease-in-out 350ms;
  transform: translateX(-100%);
  margin-top: -1px;
  background-color: white;
  position: absolute;
  width: 400px;
  height: 100vh;
  z-index: 99;
  border-right: 1px solid lightgrey;
  text-align: left;
  top: 0;
}

.product-menu-list-mobile {
  display: block;
  width: 100%;
}

.product-menu-list {
  display: flex;
  width: 1400px;
  margin: auto;
  justify-content: space-between;
}
.product-menu-list li {
  text-align: center;
}
.product-menu-list-mobile li {
  text-align: left;
  text-indent: 20px;
  margin-top:-1px;
  border-top:1px solid lightgrey;
  border-bottom:1px solid lightgrey;
}


.product-menu-list a, .product-menu-list-mobile a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color:black;
  font-weight: 600;
  font-size: 1.4rem;
}
.product-menu-list a {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size:1.4rem;
  font-weight: 300;
}
.product-menu-list a:hover, .product-menu-list-mobile a:hover {
  background-color: rgb(94, 94, 94);
  text-decoration: underline;
}

/*******************************************************************************************************
*  FORM AND MODAL CSS
********************************************************************************************************/
.form-main {
  box-sizing: border-box;
  background-color: white;
  padding: 25px;
  max-width: 650px;
  margin: auto;
  position: relative;     
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 2px 2px 15px 0 grey;
}
form label {
  display: block;
  font-weight:700;
  font-size:1.4rem;
  width: 100%;
  font-family: 'Merriweather', serif;
  margin-bottom: 5px;

}

.form-header {
  width:100%;
  margin: 10px 0px 20px 0px;
}

.form-header h3 {
  font-weight: 500;
  letter-spacing: 0.05em;
}

.form-header p {
  margin-top: 10px;
  opacity: 0.7;
}
.input-container-100 {
  margin-bottom:15px;
  position: relative;
}

.input-container-50 {
  display: flex;
  justify-content: space-between;
  margin-bottom:15px;
}
.input-icon {
  position:absolute;
  bottom:14px;
  left:10px;
  font-size: 22px;
  pointer-events: none;
  color: #8e8e8e;
}
input { font-size: 1.4rem;}

.form-item {
  width: 100%;
  padding: 15px 25px 15px 40px;
  display:block;
  box-sizing: border-box;
  font-size: 1.4rem;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  border: 1px solid #ebebeb;
}
.input-container-100 textarea {
  resize: none;
  line-height: 1.8;
  padding: 15px 15px 15px 15px;
}
.input-container-50 > div {
  width: 49%;
}
.form-item-50 {
  width:100%;
  display:block;
  padding: 15px 40px 15px 40px;
  box-sizing: border-box;
  font-size: 1.4rem;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  border: 1px solid #ebebeb;

}

.form-divider {
  padding: 40px 0px;
}
/*******
* little focus animation every form element needs a span after it
********/
.form-main .form-item + span::after, .form-main .form-item-50 + span::after {
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  transition: width 300ms ease-in-out;
}

.form-main .form-item:focus + span::after, .form-item-50:focus + span::after {
  width:100%;
  background-color: var(--bg-secondary);
}
/********
* Span hack not working for these forms
**********/
.form-item-50:focus {
  border-bottom: 2px solid var(--bg-secondary);
  padding: 15px 40px 13px 40px;
}

/*********
* More generic form type
*********/
.form-inline {
  box-sizing: border-box;
  background-color: white;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.form-inline .input-container-50 label {
  width: 100%;
}
.form-inline .input-container-50 label input {
  width: 99%;
}
.form-inline .input-container-100:last-child {
  margin-bottom: 10px;
}
.form-inline .form-item, .form-inline .form-item-50 {
  padding: 15px;
  background-color: white;
  border: 1px solid rgb(165, 165, 165);
}
.form-inline .form-item:focus, .form-inline .form-item-50:focus {
  border:1px solid black;
}
.form-icons .form-item {
  padding-left: 40px;
}
.form-inline .input-icon  {
  display: flex;
  align-items: center;
  top: 15px;
}

::placeholder {
  font-size: 1.4rem;
  color: black;
  text-transform: capitalize;
  font-weight: 400;
  opacity: 0.8;
}
::-webkit-datetime-edit-text { color: #8e8e8e; }
::-webkit-datetime-edit-month-field { color: #8e8e8e; text-transform: uppercase; font-size: 1.2rem; }
::-webkit-datetime-edit-day-field { color: #8e8e8e; text-transform: uppercase; font-size: 1.2rem; }
::-webkit-datetime-edit-year-field { color: #8e8e8e; text-transform: uppercase; font-size: 1.2rem; }

.form-feedback {
  width:100%;
  margin: 10px 0;
  display:flex;
  align-items:center;
  gap:10px;
}
.form-feedback i {
  color:#b41919;
  font-size:1.6rem;
}
.form-feedback p {
  display:block;
  box-sizing: border-box;
  color:#b41919;
  font-size: 1.2rem;
}

.password-indicator {
  border-radius: 12px;
}

.form-link {
  margin: 15px 0px 15px 0px;
}
.form-link a {
  text-decoration: none;
  color: var(--bg-secondary)
}
.form-link a:hover {
  color:var(--bg-secondary-light);
  text-decoration: underline;
}
button[type=submit] {
  background-color: var(--bg-secondary);
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}
.link-button {
  background: none;
  border: none;
  font-size: 1.6rem;
  color: darkred;
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.link-button:hover {
  text-decoration: underline;
}
button[type=submit]:hover {
  background-color: var(--bg-secondary-light);
}
.generic-select {
  padding: 15px;
  width: 100%;
  font-size: 1.4rem;
  opacity: 0.8;
}
option {
  font-size: 1.4rem;
}

.remove-btn, .action-btn, .save-btn {
  padding: 12px 20px;
  font-size: 1.6rem;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}
.remove-btn {
  background-color: var(--btn-delete-red);
}
.action-btn {
  background-color: var(--btn-action-blue);
}
.save-btn {
  background-color: var(--btn-save-green);
}
.remove-btn:hover, .action-btn:hover, .save-btn:hover {
  background-color: var(--btn-hover-colour);
}

.optional {
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  form {
      max-width: 100%;
      margin-left: 2.5%;
      margin-right: 2.5%;
  }
}


.modal-container {
  display:none;
  position: fixed;
  max-width: 400px;
  background-color: white;
  font-weight: 300;
  box-shadow: 5px 5px 12px grey;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;

}
.modal-container i {
  font-size: 18px;
}
.modal-container p {
  font-size: 1.2rem !important;
  letter-spacing: 0.1em;
  line-height: 1.6em;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  padding: 15px;
}

.modal-content {
  padding: 15px;
  text-align: center;
  margin: auto;
}


/*****************************************************************
*   ALERTS CSS
*****************************************************************/
/* General alert stylings */
.alert {
  display: flex;
  position: fixed;
  top: 20px;
  right: 0;
  text-align: center;
  max-width: 1200px;
  background-color: lightgreen;
  transform: translateX(100%);
  transition: 400ms transform ease-in-out;
  border-left: 4px solid darkgreen;
  gap: 10px;
  border-radius: 4px;
  z-index: 999;
}
.alert-message-container {
  display:flex; 
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 15px;
}
.close-alert-container {
  cursor: pointer;
  height: 100%;
  padding: 20px;
  overflow: hidden;
}
.close-alert-container i {
  font-size: 1.6rem;
}

/* Success states */
.success {
  background-color: lightgreen;
  border-left: 8px solid darkgreen;
}
.success .message-icon {
  font-size: 24px;
  color: darkgreen;
}
.success .alert-message-container p {
  color: darkgreen;
}
.success .close-alert-container {
  background-color: rgb(104, 231, 104);
}
.success .close-alert-container i {
  color: darkgreen;
}

.success a {
  color: darkgreen;
}

/* Error states */
.error {
  background-color: rgb(255, 110, 110);
  border-left: 4px solid darkred;
}
.error .message-icon {
  font-size: 24px;
  color: darkred;
}
.error .alert-message-container p {
  color: darkred;
}
.error .close-alert-container {
  background-color: rgb(252, 134, 134);
}
.error .close-alert-container i {
  color: darkred;
}

/********************************
* generic container for messages
*********************************/
.verify-container {
  background-color: white;
  max-width: 400px;
  margin: auto;
  margin-top: 60px;
  padding: 20px;
  text-align: left;
  color: black;
  font-family: sans-serif;
  border-radius: 12px;
  border:1px solid lightgrey;
  text-align: center;

}
.verify-container h3, .verify-container p {
  padding: 0px 20px 20px 20px;
}
.verify-container img {
  display:block;
  width: 100px;
  height: 100px;
  margin: auto;
}






/*****************************************************
*   CART NOTIFICATIONS
*****************************************************/
.cart-notification {
  width: 600px;
  background-color: white;
  padding: 20px;
  position: fixed;
  top: 40px;
  right: 40px;
  box-shadow: 5px 5px 15px grey;
  border-left: 8px solid #600;
  z-index: 100;
  transform: translateX(150%);
  transition: transform 500ms ease-in-out;
}

.cart-notification-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

.cart-notification-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.cart-notification-item img {
  width: 40px;
}
/*********************************************************************
*   MEDIA QUERIES
*********************************************************************/
@media screen and (max-width: 1400px) {
  main {
    width: 100%;
    margin: auto;
  }
  .header-content {
    width:95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .product-menu-list {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .header-logo {
    max-width: 175px;
  }

  .product-menu-list {
    width: 100%;
  }
}

/***************************************************************************
*   SEARCH BAR SPECIFIC MEDIA QUERY
***************************************************************************/
@media screen and (max-width: 836px) {
  :root {
    --font-size-huge: 3.5rem;
    --font-size-heading: 2.5rem;
    --font-size-subheading: 2rem;
  }
  .search-bar-container {
    width: 100%;
    margin: 0px;
  }
  #product-search-bar {
    border-radius: 0px;
    padding: 15px 0px 15px 0px;
    border: none;
    border-bottom: 1px solid rgb(189, 189, 189);
  }
  .search-bar-container i {
    right: 20px;
  }
  #search-results {
    width: 100%;
}
  .header-content {
    height: 60px;
  }
  .header-logo {
    width: 120px;
  }
}

@media screen and (max-width: 768px) {
  .modal-container {
    width: 90%;
  }
  .cart-notification {
    width: 90%;
    right: 20px;
  }
}
@media screen and (max-width: 576px) {
  .product-menu-container-mobile {
    width: 80%;
  }
  .alert {
    width: 95%;
    text-align: left;
    border: none;
  }
  .close-alert-container {
    padding: 35px;
  }
  .modal-container {
    max-width: 90%;
  }
  .modal-container p {
    font-size: 1.6rem!important;
  }
  .form-main {
    max-width: 95%;
  }
  .cart-notification {
    width: 85%;
    right: 10px;
  }
}
