

.account-header {
    padding: 20px 0px;
    text-align: center;
    line-height: 1.8;
}

#user-root {
    display: block;
}

.account-options {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    max-width: 600px;
    margin: auto;
}

.account-option {
    position: relative;
    background-color: white;
    box-shadow: 2px 2px 15px 0 rgb(0 0 0 / 20%);
    text-align: center;
    width: 100%;
    margin-bottom: 60px;
}

.account-option-top {
    padding: 25px;
    border-bottom: 1px solid lightgrey;
    margin-left: 60px;
    margin-right: 60px;
}

.account-icon-container {
    height: 48px;
    width: 48px;
    background-color: darkred;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.account-option-top i {
    font-size: 20px;
    line-height: -4rem;
    color: white;
}

.account-option-bottom {
    padding: 25px;
    line-height: 1.8;
}


@media screen and (max-width: 768px) {
    .account-option {
        margin-bottom: 20px;
    }
}


/**************************
* Address page CSS
**************************/
#address-root {
    margin: auto;
    margin-top: 40px;
    width: 600px;
    background-color:white;
    box-shadow: 2px 2px 15px grey;
    padding: 20px;
    margin-bottom: 40px;
    line-height: 1.6;
}
.address-btn-container {
    margin-top: 40px;
    border-top:1px solid lightgrey;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 15px;

}
.address-btn-container button {
    display: block;
    border: none;
    background: none;
    color: var(--bg-secondary);
    font-size: var(--font-size-regtext);
    padding: 0;
    margin: 0;
    text-decoration: underline;
    cursor: pointer;
}

#add-address-modal {
    max-width: 600px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    z-index: 55;
    display: none;
}
@media screen and (max-width: 1600px) {
    
}