

.account-header {
    padding: 20px 0px;
    text-align: center;
    line-height: 1.8;
}

#user-root {
    display: block;
}

.account-options {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    max-width: 600px;
    margin: auto;
}

.account-option {
    position: relative;
    background-color: white;
    box-shadow: 2px 2px 15px 0 rgb(0 0 0 / 20%);
    text-align: center;
    width: 100%;
    margin-bottom: 60px;
}
.account-option:hover {
    box-shadow: 2px 2px 15px 0 grey;
}
.account-option-top {
    padding: 45px;
    border-bottom: 1px solid lightgrey;
    margin-left: 60px;
    margin-right: 60px;
}

.account-icon-container {
    height: 48px;
    width: 48px;
    background-color: darkred;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.account-option-top i {
    font-size: 24px;
    line-height: -4rem;
    color: white;
}

.account-option-bottom {
    padding: 45px;
    line-height: 1.8;
}
.account-option-bottom p {
    opacity: 0.8;
    font-style: italic;
}


@media screen and (max-width: 768px) {
    #user-root {
        width: 90%;
        margin: auto;
    }
    .account-option {
        margin-bottom: 20px;
    }
}