.verify-container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    width: 30%;
    text-align: center;
    color: black;
    font-family: sans-serif;
    border-radius: 12px;
    box-shadow: 1px 1px 15px gray;

}

.verify-container img {
    display:block;
    width: 100px;
    height: 100px;
    margin: auto;
}